/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Paginas */
@import url('styles/header.css');
@import url('styles/banner.css');
@import url('styles/qualidade.css');
@import url('styles/melhor.css');
@import url('styles/motorista.css');
@import url('styles/transportamos.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-destaque: #3d66a5;
    --cor-texto: #020f22;
    --branco-padrao: rgb(233, 232, 232);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-texto);
}


/* Scrollbar personalizada */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--cor-destaque);
    border-radius: 5px;
}

/* Animaçoes de entrada e saida de conteudo */

@media (min-width: 700px) {

    [data-anima] {
        opacity: 0;
        transition: .8s;
    }

    [data-anima="esquerda"] {
        transform: translate3d(-50px, 0, 0);
    }

    [data-anima="direita"] {
        transform: translate3d(50px, 0, 0);
    }

    [data-anima="centro"] {
        transform: translate3d(0, 50px, 0);
    }

    [data-anima].animacao {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

}



/* Animação botão whats */
.butao-whats {
    animation: float .8s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translatey(0)
    }

    50% {
        transform: translatey(10px)
    }
}

.line-sections {
    display: none;
}

@media (max-width: 700px) {
    .line-sections {
        display: block;
    }
}
