.banner {
    display: flex;
    background: url('../assets//banner-img.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    height: 90vh;
    margin: 5em 6em;
}

.container-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4em;
}

.banner h1 {
    font-size: 3em;
    width: 50%;
    color: var(--cor-texto);
}

h1 span {
    color: var(--cor-destaque);
}

.banner-botao {
    text-decoration: none;
    padding: 1em 2em;
    text-align: center;
    color: white;
    border-radius: 5px;
    width: 20%;
    font-weight: bold;
    white-space: nowrap;
    transition: 0.5s;
    background-color: rgb(66, 133, 187);
}

.banner-botao:hover {
    background-color: rgb(38, 103, 156);
}