.banner {
    display: flex;
    height: 80vh;
    margin: 5em 6em;
    align-items: center;
}

.container-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4em;
    width: 70%;
}

.banner h1 {
    font-size: 3em;
    color: var(--cor-texto);
}

.banner-img {
    width: 40%;
}

h1 span {
    color: var(--cor-destaque);
}

.banner-botao {
    text-decoration: none;
    padding: 1em 2em;
    text-align: center;
    color: white;
    border-radius: 5px;
    width: 40%;
    font-weight: bold;
    white-space: nowrap;
    transition: 0.5s;
    background-color: rgb(66, 133, 187);
}

.banner-botao:hover {
    background-color: rgb(38, 103, 156);
}

@media (max-width: 1050px) {

    .banner {
        height: 70vh;
        margin: 0 2em;
    }

    .banner-botao {
        width: 100%;

    }

    .banner h1 {
        font-size: 1.6em;
    }

    .banner-botao {
        width: 50%;

    }
    .banner-img {
        width: 70%;
    }
    
    .banner-img img{
        width: 100%;
    }
    
}



@media (max-width: 700px) {

    .banner {
        margin: 0 1em;
        height: 60vh;
        margin-top: 3em;
        align-items: center;
    }

    .container-banner {
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 4em;
    }

    .banner h1 {
        font-size: 2em;
    }

    .banner-img {
        display: none;
    }

    .banner-botao {
        width: 60%;

    }
}

@media (max-width: 350px) {

    .banner {
        margin: 0 1em;
        height: 100vh;
    }

    .container-banner {
        margin-top: 4em;
    }

}